html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/* * Variables */
:root{
    /** Colores */
    --color_verdeBase: #59d9b5;
    --color_verdeOscuro: #01402e;
    --color_verdeClaro: #b3f2e0;
    --color_verdeMuyClaro: #d0f2e9;
    --color_grisFondo: #fafcfe ;
    /** Margenes */
    --margenes_paddingGeneral: 30px;
    --margenes_paddingBotones: 8px 10px;
    --margenes_separacionSections: 80px;
    --margenes_CurvaBoton: 20px;
    --margenes_hamburger: 150px 0 150px 0;
    /** Fuentes */
    --fuente_base: Arial;
    --fuente_BaseTamanyo: 1rem;
    --fuente_H1: 2rem;
    --fuente_H2: 1.5rem;
    --fuente_H3: 1.3rem;
    --fuente_Botones: var(--fuente_H3);
    --fuente_parrafos: var(--fuente_BaseTamanyo);
}


a{
    text-decoration: none;
    color: var(--color_verdeBase);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color_verdeBase);
}

/** Escondemos checkbox y menú */
.inputHamburguer, .desplegable{
    display: none;
}

.desplegable{
    background-color: var(--color_verdeOscuro);
    width: 100vw;
    height: 100vh;
    color: white;
    margin: 0;
    padding: 0;
}

ul > li{
    color: var(--color_verdeBase);
}

.hamburguer{
    position: absolute;
    top: var(--margenes_paddingGeneral);
    left: var(--margenes_paddingGeneral);
    z-index: 5;
    filter: invert(1);
}

/** Tamaños icono sbvg hamburguer  */
svg{
    width: 32px;
}

input:checked ~ .desplegable{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--margenes_hamburger);
    font-size: var(--fuente_H1);
    font-family: var(--fuente_base);
}

.mainLogo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hex{
    filter: invert(1);
    width: 2.8rem;
    margin-right: 0.8rem;
}

.logo{
    color: white;
    font-size: 2.3rem;
}


/*! APARTADO LOGIN SIGNUP */

.containerLogin{
    height: 100vh;
    background-color: var(--color_grisFondo);
}

.hamburguerLogin{
    position: absolute;
    top: var(--margenes_paddingGeneral);
    left: var(--margenes_paddingGeneral);
    z-index: 5;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

h1{
    color: black;
}

h3{
    color: var(--color_verdeBase);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1rem;
}

.hex2{
    width: 2.8rem;
    margin-right: 0.8rem;
}

.mainLogin{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    padding: var(--margenes_paddingGeneral);
}

.topArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoLogin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtituloSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: grey;
    font-size: 0.9rem;
}

/** Botones */
.form,form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form > input{
    width: 100%;
    height: 2.5rem;
    border-radius: 2rem;
    text-align: center;
    margin-top: 1rem;
    border: none;
    color: white;
}

.inputEmail::placeholder{
    color: white;
    font-size: 1rem;
}

.inputPassword::placeholder{
    color: black;
    font-size: 1rem;
}

.inputEmail{
    background-color: var(--color_verdeBase);
}

.inputPassword{
    background-color: var(--color_verdeClaro);
}

h4{
    color: var(--color_verdeBase);
    margin-top: 3rem;
}

.bottomArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}




